.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.client-img {
  width: 100%;
  height: 90px;
  object-fit: contain;
  background: white;
  padding: 5px;
  border-radius: 6px;
  box-shadow: box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 
}

