

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  
  background-color: white;
}


.page-container {
  padding: 20px 40px;
}

@media (max-width: 768px) {
  .page-container {
    padding: 15px;
  }
}


h2, h3, p, li, img {
  transition: all 0.3s ease-in-out;
}



p:hover, li:hover {
  transform: scale(1.02);
}

/* Smooth image hover */
img:hover {
  transform: scale(1.05);
  box-shadow: black;
}

/* Fade-in animation for all pages */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-container h3 {
  color: rgb(55, 9, 47);
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.page-container h2 {
  color: rgb(55, 9, 47);
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.page-container h5{
  margin-bottom: 10px;
}
